/*  Colores utilizados  */
/*  Fuentes utilizadas  */
/*  Puntos de quiebres  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #0b1726;
}

.header {
  position: relative;
  height: 100vh;
}
.header .barra {
  background-color: rgba(45, 64, 89, 0.5);
}
.header .barra .barra-navegacion {
  display: flex;
}
.header .barra .barra-navegacion .logo {
  display: flex;
  width: 40%;
  height: 80px;
}
.header .barra .barra-navegacion .logo img {
  margin-top: -5px;
  height: 100px;
  cursor: pointer;
}
.header .barra .barra-navegacion .menu {
  width: 40%;
  display: flex;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
}
.header .barra .barra-navegacion .menu .enlaces {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.header .barra .barra-navegacion .menu .enlaces .enlace {
  list-style: none;
}
.header .barra .barra-navegacion .menu .enlaces .enlace a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.header .barra .barra-navegacion .redes {
  width: 20%;
  display: flex;
  align-items: center;
}
.header .barra .barra-navegacion .redes ul {
  display: flex;
  width: 100%;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}
.header .barra .barra-navegacion .redes ul li a {
  color: white;
  font-size: 25px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
.header .barra .barra-navegacion .redes ul li a:hover .fa {
  scale: 1.2;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.header .barra .barra-navegacion .redes ul li:nth-child(1) a:hover .fa {
  color: #4dc247;
}
.header .barra .barra-navegacion .redes ul li:nth-child(2) a:hover .fa {
  color: #3b5998;
}
.header .barra .barra-navegacion .redes ul li:nth-child(3) a:hover .fa {
  color: #55acee;
}
.header .barra .barra-navegacion .redes ul li:nth-child(4) a:hover .fa {
  color: #fff;
}
.header .barra .barra-navegacion .redes ul li:nth-child(5) a:hover .fa {
  color: #007bb5;
}
.header .banner {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.header .banner .img-banner {
  position: relative;
}
.header .banner .img-banner .banner-1 {
  background-image: url(../img/Banner_1.jpg);
  animation: mianimacion 30s ease-in-out 30s infinite;
}
.header .banner .img-banner .banner-2 {
  background-image: url(../img/Banner_2.jpg);
  animation: mianimacion 35s ease-in-out 25s infinite;
}
.header .banner .img-banner .banner-3 {
  background-image: url(../img/Banner_3.jpg);
  animation: mianimacion 35s ease-in-out 20s infinite;
}
.header .banner .img-banner .banner-4 {
  background-image: url(../img/Banner_4.jpg);
  animation: mianimacion 35s ease-in-out 15s infinite;
}
.header .banner .img-banner .banner-5 {
  background-image: url(../img/Banner_5.jpg);
  animation: mianimacion 35s ease-in-out 10s infinite;
}
.header .banner .img-banner .banner-6 {
  background-image: url(../img/Banner_6.jpg);
  animation: mianimacion 35s ease-in-out 5s infinite;
}
.header .banner .img-banner .banner-1,
.header .banner .img-banner .banner-2,
.header .banner .img-banner .banner-3,
.header .banner .img-banner .banner-4,
.header .banner .img-banner .banner-5,
.header .banner .img-banner .banner-6 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-size: 100%;
  background-attachment: fixed;
}
@keyframes mianimacion {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .banner .end-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.header .container {
  align-content: center;
  text-align: center;
}
.header .container .texto-banner {
  color: white;
  margin-top: 10%;
}
.header .container .texto-banner h1 {
  font-size: 4.5rem;
}
.header .container .texto-banner p {
  font-size: 2.5rem;
}
.header .container .texto-banner hr {
  margin-top: 10px;
  color: white;
  width: 50%;
  margin-left: 25%;
}

.cuerpo .about {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.cuerpo .about .title h1 {
  text-align: center;
  font-size: 3.5rem;
  color: white;
}
.cuerpo .about .about-description {
  display: flex;
  justify-content: space-between;
}
.cuerpo .about .about-description img:hover {
  scale: 1.05;
  transition: 1s ease-in;
}
.cuerpo .about .about-description img {
  margin: 40px;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  border-radius: 50%;
  border: 3px white solid;
  box-shadow: 0px 0px 4px white;
  transition: all 0.8s ease-in;
}
.cuerpo .about .about-description .description {
  width: 60%;
  height: 380px;
}
.cuerpo .about .about-description .description p {
  padding: 30px;
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.cuerpo .about .about-description .description a {
  margin: 30px;
  text-decoration: none;
  font-size: 2rem;
  color: #fcd15f;
}
.cuerpo h2 {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 25px;
}
.cuerpo .ultimate-post {
  margin-bottom: 30px;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
.cuerpo .ultimate-post .card-G {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 39%;
  box-shadow: 0px 0px 3px #bbe1fa;
  border-radius: 11px;
}
.cuerpo .ultimate-post .card-G img {
  border-radius: 10px 10px 0px 0px;
  height: 50%;
}
.cuerpo .ultimate-post .card-G h3 {
  font-family: "Fjalla One", sans-serif;
  height: 5%;
  text-align: center;
  margin-bottom: 1px;
}
.cuerpo .ultimate-post .card-G p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  line-height: 22px;
}
.cuerpo .ultimate-post .card-G button {
  margin: 10px;
  background-color: #0b1726;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 30%;
  height: 30px;
  box-shadow: 0 0 5px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cuerpo .ultimate-post .cards-M {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cuerpo .ultimate-post .cards-M .card-m {
  width: 100%;
  height: 48%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #bbe1fa;
}
.cuerpo .ultimate-post .cards-M .card-m img {
  border-radius: 10px 0px 0px 10px;
  width: 45%;
}
.cuerpo .ultimate-post .cards-M .card-m .card-m-description {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.cuerpo .ultimate-post .cards-M .card-m .card-m-description h3 {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
  height: 30%;
}
.cuerpo .ultimate-post .cards-M .card-m .card-m-description p {
  font-family: "Lato", sans-serif;
  padding: 8px;
  text-align: center;
  line-height: 20px;
  height: 60%;
}
.cuerpo .ultimate-post .cards-M .card-m .card-m-description button {
  height: 12%;
  margin-left: 67%;
  background-color: #0b1726;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 30%;
  height: 30px;
  box-shadow: 0 0 5px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cuerpo .other-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cuerpo .other-post .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 32.5%;
  margin-bottom: 15px;
  border-radius: 20px;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
}
.cuerpo .other-post .card img {
  border-radius: 18px 18px 0px 0px;
  width: 100%;
}
.cuerpo .other-post .card h3 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  padding: 15px;
}
.cuerpo .other-post .card p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0px 20px;
  height: 150px;
}
.cuerpo .other-post .card button {
  margin: 10px;
  width: 33%;
  background-color: #0b1726;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 30%;
  height: 30px;
  box-shadow: 0 0 5px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cuerpo .other-post .card:hover {
  scale: 1.005;
  top: -10px;
  box-shadow: 0 4px 5px rgba(255, 255, 255, 0.2);
}

.footer {
  width: 100%;
  background-color: #17283d;
  font-family: "Dosis", sans-serif;
  text-align: center;
  padding-bottom: 15px;
}
.footer h1 {
  color: white;
  padding-top: 20px;
  font-size: 3rem;
}
.footer .footer-redes {
  width: 100%;
}
.footer .footer-redes ul {
  padding: 10px;
  display: flex;
  width: 15%;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer-redes ul li a {
  color: white;
  font-size: 25px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
.footer .footer-redes ul li a:hover .fa {
  scale: 1.2;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
.footer .footer-redes ul li:nth-child(1) a:hover .fa {
  color: #4dc247;
}
.footer .footer-redes ul li:nth-child(2) a:hover .fa {
  color: #3b5998;
}
.footer .footer-redes ul li:nth-child(3) a:hover .fa {
  color: #55acee;
}
.footer .footer-redes ul li:nth-child(4) a:hover .fa {
  color: #fff;
}
.footer .footer-redes ul li:nth-child(5) a:hover .fa {
  color: #007bb5;
}
.footer .text {
  color: white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.footer .text .frase {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: "Dosis", sans-serif;
}
.footer .text .autor {
  display: flex;
  justify-content: end;
  font-family: "Dosis", sans-serif;
}

/*# sourceMappingURL=estilos.css.map */
