$color_DarkBlue:rgba(11, 23, 38, 1);
$color_fondo_barra:rgba(45, 64, 89, 0.5);
$color_Yellow:rgba(252, 209, 95, 1);
$color_footer_Blue:rgba(23, 40, 61, 1);
$color_White:rgba(255, 255, 255, 1);
$font_Primary:'Lucida Fax';