@import 'variables';
@import 'funciones';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: $color_DarkBlue;
}

.header {
    height: 100vh;
    .barra {
        width: 100%;
        background-color: $color_fondo_barra;
        .barra-navegacion {
            display: flex;
            height: 90px;
            .logo {
                display: flex;
                justify-content: flex-start;
                width: 40%;
                img {
                    margin-left: 20px;
                    height: 100%;
                }
            }
            .enlaces {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 40%;
                list-style: none;
                li {
                    a {
                        color: white;
                        font-size: 20px;
                        text-decoration: none;
                    }
                }
            }
            .redes {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 30%;
                list-style: none;
                @include botones_redes();
            }
            .checkbtn {
                font-size: 30px;
                color: white;
                display: none;
            }
            #check {
                display: none;
            }
            @include tablet() {
                height: 70px;
                justify-content: space-between;
                .checkbtn {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    z-index: 10;
                }
                .enlaces {
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    position: fixed;
                    width: 100%;
                    height: 50%;
                    background-color: $color_DarkBlue;
                    top: 0;
                    right: -100%;
                    transition: all .5s;
                    li {
                        margin-top: 50px;
                        height: 50%;
                        line-height: 30px;
                        a {
                            text-decoration: none;
                            font-size: 30px;
                        }
                    }
                }
                .redes {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 20px 150px;
                    position: fixed;
                    width: 100%;
                    height: 50%;
                    background-color: $color_DarkBlue;
                    top: 50%;
                    left: -100%;
                    transition: all .5s;
                }
                #check:checked {
                    ~.enlaces {
                        right: 0;
                    }
                    ~.redes {
                        left: 0;
                    }
                }
            }
            @include celular() {
                .redes {
                    padding: 20px 100px;
                }
            }
        }
    }
    .banner {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        .img-banner {
            position: relative;
            .banner-1 {
                background-image: url(../img/Banner_1.jpg);
                animation: mianimacion 30s ease-in-out 30s infinite;
            }
            .banner-2 {
                background-image: url(../img/Banner_2.jpg);
                animation: mianimacion 35s ease-in-out 25s infinite;
            }
            .banner-3 {
                background-image: url(../img/Banner_3.jpg);
                animation: mianimacion 35s ease-in-out 20s infinite;
            }
            .banner-4 {
                background-image: url(../img/Banner_4.jpg);
                animation: mianimacion 35s ease-in-out 15s infinite;
            }
            .banner-5 {
                background-image: url(../img/Banner_5.jpg);
                animation: mianimacion 35s ease-in-out 10s infinite;
            }
            .banner-6 {
                background-image: url(../img/Banner_6.jpg);
                animation: mianimacion 35s ease-in-out 5s infinite;
            }
            .banner-1,
            .banner-2,
            .banner-3,
            .banner-4,
            .banner-5,
            .banner-6 {
                width: 100%;
                height: 100vh;
                position: absolute;
                background-size: 100%;
                background-attachment: fixed;
            }
            @keyframes mianimacion {
                0% {
                    opacity: 1;
                }
                20% {
                    opacity: 1;
                }
                30% {
                    opacity: 0;
                }
                90% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
        .end-banner {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .container {
        align-content: center;
        text-align: center;
        .texto-banner {
            color: $color_White;
            margin-top: 10%;
            h1 {
                font-size: 4.5rem;
            }
            p {
                font-size: 2.5rem;
            }
            hr {
                margin-top: 10px;
                color: $color_White;
                width: 50%;
                margin-left: 25%;
            }
        }
    }
}

.cuerpo {
    .about {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 80vh;
        .title {
            h1 {
                text-align: center;
                font-size: 3.5rem;
                color: $color_White;
            }
        }
        .about-description {
            display: flex;
            justify-content: space-between;
            img:hover {
                scale: 1.05;
                transition: 1s ease-in;
            }
            img {
                margin: 40px;
                width: 27%;
                margin-left: auto;
                margin-right: auto;
                height: 300px;
                border-radius: 50%;
                border: 3px white solid;
                box-shadow: 0px 0px 4px white;
                transition: all .8s ease-in;
            }
            .description {
                width: 60%;
                height: 380px;
                ;
                p {
                    padding: 30px;
                    color: $color_White;
                    font-family: $font_Console;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
                a {
                    margin: 30px;
                    text-decoration: none;
                    font-size: 2.0rem;
                    color: $color_Yellow;
                }
            }
        }
    }
    h2 {
        color: $color_White;
        font-size: 2.4rem;
        margin-bottom: 25px;
    }
    .ultimate-post {
        margin-bottom: 30px;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        .card-G {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $color_White;
            width: 39%;
            box-shadow: 0px 0px 3px #bbe1fa;
            border-radius: 11px;
            img {
                border-radius: 10px 10px 0px 0px;
                height: 50%;
            }
            h3 {
                font-family: $font_title-card;
                height: 5%;
                text-align: center;
                margin-bottom: 1px;
            }
            p {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 10px;
                line-height: 22px;
            }
            button {
                margin: 10px;
                @include button($color_DarkBlue, $color_White);
            }
        }
        .cards-M {
            width: 59%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card-m {
                width: 100%;
                height: 48%;
                display: flex;
                background-color: $color_White;
                justify-content: space-between;
                border-radius: 10px;
                box-shadow: 0px 0px 6px #bbe1fa;
                img {
                    border-radius: 10px 0px 0px 10px;
                    width: 45%;
                }
                .card-m-description {
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        padding: 0px 20px;
                        display: flex;
                        align-items: center;
                        font-family: $font_title-card;
                        height: 30%;
                    }
                    p {
                        font-family: 'Poppins', sans-serif;
                        padding: 8px;
                        text-align: center;
                        line-height: 20px;
                        height: 60%;
                        margin-bottom: -13px;
                    }
                    button {
                        height: 12%;
                        margin-left: 67%;
                        @include button($color_DarkBlue, $color_White);
                    }
                }
            }
        }
    }
    .other-post {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
            display: flex;
            flex-direction: column;
            background-color: $color_White;
            width: 32.5%;
            margin-bottom: 15px;
            border-radius: 20px;
            position: relative;
            top: 0;
            transition: all .5s ease;
            // border: 1px #afafaf solid;
            img {
                border-radius: 18px 18px 0px 0px;
                width: 100%;
            }
            h3 {
                font-family: $font_title-card;
                text-align: center;
                padding: 15px;
            }
            p {
                font-family: 'Poppins', sans-serif;
                text-align: center;
                padding: 0px 20px;
                height: 150px;
            }
            button {
                margin: 10px;
                width: 33%;
                @include button($color_DarkBlue, $color_White);
            }
        }
        .card:hover {
            scale: 1.005;
            top: -10px;
            box-shadow: 0 4px 5px rgba(255, 255, 255, 0.2);
        }
    }
}

.footer {
    width: 100%;
    background-color: $color_footer_Blue;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-bottom: 15px;
    h1 {
        color: $color_White;
        padding-top: 20px;
        font-size: 3rem;
    }
    .footer-redes {
        width: 100%;
        ul {
            padding: 10px;
            display: flex;
            width: 15%;
            text-decoration: none;
            list-style: none;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            @include botones_redes();
        }
    }
    .text {
        color: $color_White;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        .frase {
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 10px;
            font-family: 'Dosis', sans-serif;
        }
        .autor {
            display: flex;
            justify-content: end;
            font-family: 'Dosis', sans-serif;
        }
    }
}